body{
    background-color: gray;
    margin: 0;
    padding: 0;
}

header{
    background-color: lightgray;
    border-radius: 10px;
    padding: 0.1px;
}

header > h1{
    text-align: center;
}

nav{
    background-color:rgb(154, 148, 148);
    text-align: center;
}

nav > a{
    color:rgb(250, 237, 237);
    text-decoration: none;
    margin-right: 15px;
}

nav > a:hover{
    color: black;
    text-decoration: underline;
}

main{
    background-color: lightgray;
    border-radius: 10px;
    box-shadow:rgb(60, 59, 59) 0.4px 0.4px 10px
}

#big_size{
    font-size: 25px;
}

#Assuntos {
    text-align: center;
}

a{
    color:rgb(60, 60, 60);
}

#artigo > h2::before{
    content:'🔗';
}

footer{
    background-color:rgb(154, 148, 148);
    text-align: center;
    color: white;
    padding: 1px;
    border-radius: 10px;
}

#bola{
    background-color: white;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin: auto;
}
